{{> head}}
{{> navbar}}

    <div class='row'>
            <div class="col-8">
                <h1>About page</h1>
                <p>
                    Esto es solo un texto de ejemplo, no tiene nada de significativo
                </p>
            </div>
            <div>
                <img src="assets/img/img1.jpg" class="img-thumbnail"
            </div>

    </div>


{{> footer}}